@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: solid 1px grey; */
}
@media only screen and (max-width: 600px) {
.media{
  visibility: hidden;
}
}
@media only screen and (max-width: 600px) {
  .media-show{
    visibility: visible;
  }
  .text_{
    font-size: 2.5rem;
  }
  }
  @media only screen and (min-width: 601px) {
    .media-show{
      visibility: hidden;
    }
    .md-lg{
      /* @apply blur-none; */
    }
    }
    .animation-slide {
      animation-name: slide;
      animation-duration: 1s;
      right: 1rem;
    }
    .animation-slide-isClose {
      animation-name: slideClose;
      animation-duration: 1s;
      visibility: hidden;
      right: 0rem;
    }

    @keyframes slide {
      from {
        opacity: 0;
        right: 0;
      }
      to {
        opacity: 1;
        right: 1rem;
      }
    }
    
    @keyframes slideClose {
      from {
        opacity: 1;
        right: 1rem;  
        visibility: visible;
      }
      to {
        opacity: 0;
        right: 0rem;
        visibility: hidden;
      }
    }


body {
  font-family: 'Poppins', sans-serif;
}